boto3==1.9.169
botocore==1.12.169
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
DateTime==4.3
docutils==0.14
geojson==2.4.1
geomet==0.2.0.post2
html2text==2018.1.9
idna==2.8
jmespath==0.9.4
kiwisolver==1.1.0
matplotlib==3.1.0
numpy==1.16.4
Pillow==8.2.0
pkg-resources==0.0.0
pyparsing==2.4.0
pyproj==2.2.0
pyshp==2.1.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
s3transfer==0.2.1
sentinelsat==0.13
Shapely==1.6.4.post2
six==1.12.0
tifffile==2019.5.30
tqdm==4.32.1
urllib3==1.25.3
utm==0.4.2
zope.interface==4.6.0
rasterio==1.0.22
